html {
  width: 100%;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  font-weight: $text-font-weight;
  letter-spacing: -.3px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// links
a {
  @include transition(all .3s ease 0s);
  cursor: pointer;

  &:focus {
    outline: 0 none;
  }
}


// h's
h1, h2, h3,
.h1, .h2, .h3 {
  letter-spacing: -.8px;
  margin-top: 0;
}
h4, h5, h6,
.h4, .h5, .h6 {
  letter-spacing: -.3px;
  margin-top: 0;
}
