// progress
.progress {
  @include box-shadow(none);
  border-top: solid 1px $panel-inner-border;
  border-bottom: solid 1px $panel-inner-border;
  height: 10px;
  margin: 0;
  overflow: visible;
}


// progress-bar
.progress-bar {
  margin: -1px 0;
  height: 10px;
}
